<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <style>
    body {
      width: 100vw;
      height: 100vh;
      background-color: antiquewhite;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .create-match-title {
      font-weight: bold;
      font-size: xx-large;
    }

    .create-match-form {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }

    .submit-form-btn {
      width: 100px;
      height: 50px;
      font-weight: 700;
    }

    .submit-form-btn:hover {
      cursor: pointer;
    }

    .form-field {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
    }

    .form-label {
      font-weight: 500;
    }

    .form-input {
      outline: 0;
    }
  </style>
  <title>Create new match</title>
</head>

<body>
  <div class="create-match-title">Create match</div>
  <form action="http://localhost:3000/match" method="POST" class="create-match-form">
    <div class="form-field">
      <div class="form-label">Enter match name</div>
      <input class="form-input" type="text" name="name" id="name" />
    </div>
    <div class="form-field">
      <div class="form-label">Enter home club name</div>
      <input class="form-input" type="text" name="homeClubName" id="homeClubName" />
    </div>
    <div class="form-field">
      <div class="form-label">Enter away club name</div>
      <input class="form-input" type="text" name="awayClubName" id="awayClubName" />
    </div>
    <div class="form-field">
      <div class="form-label">Enter number of goals by home team</div>
      <input class="form-input" type="text" name="scoreHome" id="scoreHome" />
    </div>
    <div class="form-field">
      <div class="form-label">Enter number of goals by away team</div>
      <input class="form-input" type="text" name="scoreAway" id="scoreAway" />
    </div>

    <button class="submit-form-btn">
      Create
    </button>
  </form>
</body>

</html>