<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <style>
    body {
      width: 100vw;
      height: 100vh;
      background-color: antiquewhite;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .create-club-title {
      font-weight: bold;
      font-size: xx-large;
    }

    .create-club-form {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }

    .submit-form-btn {
      width: 100px;
      height: 50px;
      font-weight: 700;
    }

    .submit-form-btn:hover {
      cursor: pointer;
    }

    .form-field {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
    }

    .form-label {
      font-weight: 500;
    }

    .form-input {
      outline: 0;
    }
  </style>
  <title>Create new club</title>
</head>

<body>
  <div class="create-club-title">Create club</div>
  <form action="http://localhost:3000/club" method="POST" class="create-club-form">
    <div class="form-field">
      <div class="form-label">Enter club name</div>
      <input class="form-input" type="text" name="name" id="name" />
    </div>
    <div class="form-field">
      <div class="form-label">Enter club's league name</div>
      <input class="form-input" type="text" name="league_name" id="league_name" />
    </div>

    <button class="submit-form-btn">
      Create
    </button>
  </form>
</body>

</html>