<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <style>
    body {
      width: 100vw;
      height: 100vh;
      background-color: antiquewhite;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .index-club-title {
      font-weight: bold;
      font-size: xx-large;
    }

    .clubs-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }

    .submit-form-btn {
      width: 100px;
      height: 50px;
      font-weight: 700;
    }

    .submit-form-btn:hover {
      cursor: pointer;
    }
  </style>
  <title>All clubs</title>
</head>

<body>
  <div class="index-clubs-title">All clubs</div>
  <div class="clubs-wrapper">
    {{#each clubs}}
    <div class="club-entity-wrapper">
      <div class="club-name">{{name}}</div>
      <div class="club-entity-actions">
        <form action="http://localhost:3000/club/delete/{{name}}" method="get">
          <button class="submit-form-action">Delete club</button>
        </form>
        <form action="http://localhost:3000/club/view/{{name}}" method="get">
          <button class="submit-form-action">View club</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  <form action="http://localhost:3000/club/create" method="get">
    <button class="submit-form-btn">Create new club</button>
  </form>
</body>

</html>