<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <style>
    body {
      width: 100vw;
      height: 100vh;
      background-color: antiquewhite;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .index-baller-title {
      font-weight: bold;
      font-size: xx-large;
    }

    .form-field {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
    }

    .form-label {
      font-weight: 500;
    }

    .form-input {
      outline: 0;
    }

    .ballers-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }

    .submit-form-btn {
      width: 100px;
      height: 50px;
      font-weight: 700;
    }

    .submit-form-btn:hover {
      cursor: pointer;
    }
  </style>
  <title>View baller</title>
</head>

<body>
  <div class="ballers-wrapper">
    <form action="http://localhost:3000/baller/update/{{baller.fullName}}" method="post" class="baller-edit-form">
      <div class="form-field">
        <div class="form-label">Baller full name</div>
        <input type="text" name="fullName" placeholder="{{baller.name}}" id="fullName" class="form-input" />
      </div>
      <div class="form-field">
        <div class="form-label">Baller age</div>
        <input type="text" name="age" placeholder="{{baller.age}}" id="age" class="form-input" />
      </div>
      <div class="form-field">
        <div class="form-label">Baller position</div>
        <input type="text" name="position" placeholder="{{baller.position}}" id="position" class="form-input" />
      </div>
      <button class="submit-form-btn">Edit</button>
    </form>
  </div>
</body>

</html>