<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <style>
    body {
      width: 100vw;
      height: 100vh;
      background-color: antiquewhite;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .index-match-title {
      font-weight: bold;
      font-size: xx-large;
    }

    .form-field {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
    }

    .form-label {
      font-weight: 500;
    }

    .form-input {
      outline: 0;
    }

    .matches-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }

    .submit-form-btn {
      width: 100px;
      height: 50px;
      font-weight: 700;
    }

    .submit-form-btn:hover {
      cursor: pointer;
    }
  </style>
  <title>View match</title>
</head>

<body>
  <div class="match-wrapper">
    <form action="http://localhost:3000/match/update/{{match.name}}" method="post" class="match-edit-form">
      <div class="form-field">
        <div class="form-label">Match name</div>
        <input type="text" name="name" placeholder="{{match.name}}" id="name" class="form-input" />
      </div>
      <div class="form-field">
        <div class="form-label">Score Home</div>
        <input type="text" name="scoreHome" placeholder="{{match.scoreHome}}" id="scoreHome" class="form-input" />
      </div>
      <div class="form-field">
        <div class="form-label">Score Away</div>
        <input type="text" name="scoreAway" placeholder="{{match.scoreAway}}" id="scoreAway" class="form-input" />
      </div>
      <button class="submit-form-btn">Edit</button>
    </form>
  </div>
</body>

</html>